# Ambientes Virtuais
.venv/
venv/
__pycache__/

# Variáveis de Ambiente (Segredos)
.env

# Dados e Resultados (gerados pelos scripts)
data/**/*.json
data/**/*.gz
data/**/*.csv

# Script referência

scripts-referencia/*

# Test

test/**/*.csv
test/**/*.json
test/**/*.gz